<ul class="list-todo">
	<li class="item-todo">
		<span>content Goes Here </span>
		<button class="delete">Delete</button>
	</li>
	<li class="item-todo">
		<span>content Goes Here </span>
		<button class="delete">Delete</button>
	</li>
	<li class="item-todo">
		<span>content Goes Here </span>
		<button class="delete">Delete</button>
	</li>
	<li class="item-todo">
		<span>content Goes Here </span>
		<button class="delete">Delete</button>
	</li>
	<li class="item-todo">
		<span>content Goes Here </span>
		<button class="delete">Delete</button>
	</li>
</ul>