/* Add application styles & imports to this file! */
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  font-family: "Open Sans";
}

.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  color: #505253;
}
.input-todo {
  display: grid;
  grid-template-columns: auto 100px;
  grid-gap: 10px;
}
.input-todo > input {
  /* width: 100%; */
  height: 30px;
  border: unset;
  background-color: #e4e5e6;
  padding: 0 10px;
}
.input-todo > button {
  background-color: #9c52b9;
  border: unset;
  color: #fff;
  /* border-radius: 5px; */
  cursor: pointer;
}
input:focus,
button:focus {
  outline: unset;
}

.list-todo {
  /* display: flex; */
  list-style: none;
  padding: 0;
  flex-direction: column;
}
.item-todo {
  padding: 10px;
  display: flex;
}
.item-todo > span {
  flex-grow: 1;
  /* min-width: 0; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.delete {
  background-color: #df3b3b;
  border: unset;
  color: #fff;
  padding: 4px 5px;
  width: 50px;
}
